@import url('https://fonts.googleapis.com/css?family=Bellefair|Lemonada');

$header-color: #CAD9B2;
$bg-color: #BCC5D1;
$first-color: #E5EBDA;
$web-color: #DADBEF;
$learn-color: #D9D3C1;
$call-color: #D99B91;

body{
  background: $bg-color;
  margin: 0;
  padding: 0;
  font-family: 'Lemonada', cursive;
  font-size: 16px;
  position: relative;
}

.navbar{
  background: $header-color;
  border-color: $header-color;
  border-radius: 0;
  padding: 10px;
  box-shadow: 0 2px 2px 1px rgba(204,204,163,0.3);

  .container-fluid{
    width: 70%;
    .navbar-brand{
      font-size: 30px;
      font-family: 'Lemonada', cursive;
      font-weight: bold;
    }
    .nav{
      .active{
        box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
      }
      li{
        height: 50px;
        width: 84px;
        &:hover{
          background: $header-color;
          box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
        }
        a{
          text-align: center;
        }
      }
    }
  }
}


.content{
  max-width: 1073px;
  margin: 0 auto;
}

//about me
#about{
  background: $first-color;
  box-shadow: 0 2px 2px 1px rgba(204,204,163,0.3);
  border-bottom: 1px solid #ccc;
  margin-top: 70px;
  .media{
    max-width: 900px;
    margin: 0 auto;
  }
  .media-right img{
    margin: 70px 0 70px 70px;
    height: 250px;
    width: 250px;
    border-radius: 50% 50% 0;
    opacity: 0.8;
  }
  .media-body{
   text-align: center;
    width: 600px;
    h4{
      margin: 100px 0 50px;
      font-size: 30px;
      color: #BCC5D1;
    }
    p{
      margin: 40px 0;
    }
    .info {
      line-height: 25px;
      text-align: right;
    }
    .line-style {
      border-top: solid 4px;
      color: $bg-color;
      max-width: 400px;
    }
    img {
      float: right;
      margin-top: -40px;
    }
    .words{
      margin-bottom: 50px;
    }
  }
}

//这个网页用到的技术
#page{
  background: $web-color;
  box-shadow: 0 2px 2px 1px rgba(204,204,163,0.3);
  text-align: center;
  padding: 60px;
  border-bottom: 1px solid #ccc;
  h4{
    font-size: 30px;
    color: #6E8EC9;
    margin-bottom: 50px;
  }
  .web-line{
    border-top: solid 4px;
    color: #6E8EC9;
    max-width: 700px;
    margin-bottom: 50px;
  }
}

//我学到了什么
#learn{
  background: $learn-color;
  box-shadow: 0 2px 2px 1px rgba(204,204,163,0.3);
  text-align: center;
  padding: 60px;
  h4{
    font-size: 30px;
    color: #A38F86;
    margin-bottom: 50px;
  }
  .learn-line{
    border-top: dashed 4px;
    color: #A38F86;
    max-width: 700px;
    margin-bottom: 50px;
  }
  .learn-content{
    width: 325px;
    margin: 0 auto;
    //css3自动打字效果
    .learn-css{
      font-size: 1.8rem;
      padding-top: 6%;
      margin-bottom: 4%;
      font-weight: normal;
      letter-spacing: .1rem;
      -webkit-animation: type 2s steps(50, end) forwards;
      animation: type 2s steps(50, end) forwards;
    }
    .learn1{
      text-align: center;
      width:100%;
      white-space:nowrap;
      overflow:hidden;
    }
    @-webkit-keyframes type{
      from { width: 0;}
    }
    @keyframes type{
      from { width: 0;}
    }
  }
}

//和我联系
#call{
  background: $call-color;
  box-shadow: 0 2px 2px 1px rgba(204,204,163,0.3);
  text-align: center;
  padding: 60px;
  h4{
    font-size: 30px;
    color: #836C89;
    margin-bottom: 50px;
  }
  .call-line{
    border-top: solid 4px;
    color: #836C89;
    max-width: 700px;
    margin-bottom: 50px;
  }
  form{
    margin: 0 auto;
    width: 300px;
    .input{
      height: 60px;
      border: none;
      display: block;
      margin: 20px;
      text-indent: 1em;
      background: $call-color;
      outline: none;  //去掉聚焦边框
    }
    .btn{
      font-size: 20px;
      background: #E6AFAC;
      border-color: #E6AFAC;
      text-align: center;
    }
  }
}

//底部
footer{
  width: 100%;
  background: $first-color;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
}